:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

html,
body {
  margin: 0;
  padding: 0;

  * {
    box-sizing: border-box;

    &:focus {
      outline: none;
    }
  }

  .btn {
    background: black;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 9px 12px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;

    svg {
      width: 18px;
      height: 18px;
    }

    @media (hover: hover) {
      transition: transform ease-out 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
